@use '../vars' as *;

#admin-dashboard {
    
    .col-6 {
       .card:nth-child(-n+2) {
        height: 220px;
    } 
    }

    .col-12 {
        .card {
            height: 200px;
        }
    }
    
    .card {
        color: $white;
        cursor: pointer;
    }

    #card-index {
        border: 2px solid $color-primary;
        background-color: rgba($color-primary, 0.8);

        .card-head {
            border-bottom: 2px solid $color-primary;
        }

        .card-body {
            a {
                text-decoration: none;
                font-size: 35px;
                color: $white;
                padding: 0 100px;
            }
        }
    }

    #card-create {
        border: 2px solid $color-secondary;
        background-color: rgba($color-secondary, 0.8);
    
        .card-head {
            border-bottom: 2px solid $color-secondary;
        }
    
        .card-body {
            a {
                text-decoration: none;
                font-size: 35px;
                color: $white;
                padding: 0 80px;
            }
        }
    }
    
    

    #card-counter {
        border: 2px solid $color-tertiary;
        background-color: rgba($color-tertiary, 0.8);

        .card-head {
            border-bottom: 2px solid $color-tertiary;
        }

        .card-body {
            p {
                font-size: 35px;
                color: $white;
            }
        }
    }


    #card-index,
    #card-create {
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        &:hover {
            box-shadow: 0px 3px 6px rgba($color-bone, 0.3);
            transform: translateY(-10px);
        }
        
    }
}